<img class="bannerImage" src="https://www.seasiatravel.com/images/thailand1.jpg" alt="Thailand" />
<div class="container">
    Search:
    <input ng-model="$ctrl.query" />
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6" ng-repeat="country in $ctrl.countries | filter:$ctrl.query">
            <img class="thumb" ng-src="{{country.imageUrl}}" alt="{{country.name}}" />
            <div class="thumbDescription">
                <p>{{country.name}}</p>
            </div>
        </div>
    </div>
</div>
