/* app css stylesheet */

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 1.5em;
    background-color: #337ab7;
}
.menu>li {
    display: inline;
}
.container {
    margin-top: 10%;
}
.bannerImage {
    width: 100%;
}
.menu a{
    color: #ffffff;
}
.thumb{
  width: 80%;
  margin-left: 10%;
}
.thumbDescription{
  margin-left: 10%;
}
