/* app css stylesheet */

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 1.5em;
    background-color: #337ab7;
}
.menu>li {
    display: inline;
}
.container {
    margin-top: 1%;
}
.bannerImage {
    width: 100%;
}
.menu a{
    color: #ffffff;
}
.menu a:hover {
    color: #ffffff;
    text-decoration: none;
}
.thumb{
  width: 80%;
  margin-left: 10%;
  height: 200px;
}
.thumbDescription{
  margin-left: 10%;
}
.thumbDescription a {
  color: 	#808080;
}
.thumbDescription a:hover {
    color: #000000;
    text-decoration: none;
}
.hardfacts h1 {
  margin-bottom: 1%
}
.hardfacts .col-md-6 p {
  width: 80%;
  margin-left: 10%;
  height: 200px;
}
