/* app css stylesheet */

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 1.5em;
    background-color: #337ab7;
}
.menu>li {
    display: inline;
}
.container {
    margin-top: 3%;
    padding-bottom: 10%
}
.bannerImage {
    width: 100%;
}
.menu a:link {
    color: ;
}
.menu a:visited {
    color: #E6EDF2;
}
.menu a:active {
    color: #E6EDF2;
}
.menu a:hover {
    color: #ffffff;
    text-decoration: none;
}
.thumb{
  width: 80%;
  margin-left: 10%;
  height: 200px;
}
.thumbDescription{
  margin-left: 10%;
}
.thumbDescription a {
  color: 	#808080;
}
.thumbDescription a:hover {
    color: #000000;
    text-decoration: none;
}
.hardfacts h1 {
  margin-bottom: 1%;
  padding-left: 15px;
}
.hardfacts .col-md-6 p {
  width: 80%;
  margin-left: 10%;
  height: 200px;
}
.search {
      padding-bottom: 20px;
      padding-left: 5%;
}
.search {
  color: 	#808080;
}
.space{
  height: 50px;
}
