<img class="bannerImage" src="https://www.seasiatravel.com/images/thailand1.jpg" alt="Thailand" />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div ng-repeat="i in [0,1,2,3]">
                <img class="thumb" src="https://www.seasiatravel.com/images/thailand1.jpg" alt="Thailand" />
                <div class="thumbDescription">
                    <p>Eines der wunderschönen Länder</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-repeat="i in [0,1,2,3]">
                <img class="thumb" src="https://www.seasiatravel.com/images/thailand1.jpg" alt="Thailand" />
                <div class="thumbDescription">
                    <p>Eines der wunderschönen Länder</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
